# Template:: index.html.erb
# Directory:: /webserver/templates
#
<html>
  <head>
    <title>Learn Chef Demo</title>
  </head>
  <body>
    <h1>Hello Learn Chef</h1>
    <p>This is <%=node['hostname']%></p>
  </body>
</html>
